@charset "utf-8";
/*
 reset default css
*/
body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre {
  margin: 0;
  padding: 0;
}
body {
  font-family: '\5fae\8f6f\96c5\9ed1';
}
li {
  list-style: none outside none;
}
a:link,
a:hover {
  text-decoration: none;
}
a img {
  border: 0;
  vertical-align: bottom;
}
button {
  background-color: transparent;
}
table {
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  border: none;
}
legend {
  display: none;
}
body {
  font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, STHeiTi, sans-serif;
  font-size: 24px;
}
i {
  display: inline-block;
}
.wrap em {
  font-style: normal;
}
/* 模块样式 */
.validateForm .tip {
  margin-top: 0.5em;
  color: red;
}
/* 模块样式end */
h1,
h2,
input,
textarea,
select {
  font-size: 24px;
}

.fixedFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}


.clearfix:after{content:".";display:block;height:0;overflow:hidden;clear:both;}
.clearfix{zoom:1;}
.clearit{clear:both;height:0;font-size:0;overflow:hidden;}

.fl { float: left; }
.fr { float: right; }
.tr { text-align: right; }
.tl { text-align: left; }
.tc { text-align: center; }
.pr{position: relative;}
.pa{position: absolute;}
.pf{position: fixed;}
.ct { margin: 0 auto; }
.hide{display: none;}
.whiteBg{background-color: #fff;}
.b0{margin-bottom: 0;}
.greyBg{background-color: #f5f5f9;}
.db{display:block;}

.mt0{margin-top: 0.5rem !important;}
.mt1{margin-top: 1rem !important;}
.mt15{margin-top: 1.5rem !important;}
.mt2{margin-top: 2rem !important;}
.pt1{padding-top: 1rem;}
.pb1{padding-bottom: 1rem;}
.pb2{padding-bottom: 2rem;}
.pb4{padding-bottom: 4rem;}
.pb6{padding-bottom: 6rem;}
.pb5{padding-bottom: 10rem;}
/**整体布局**/
.wrap{width: 100%; min-width: 320px; max-width: 640px; margin: 0 auto;}

.borRadius{border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;-o-border-radius: 3px;}
.borRadius5{border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;-o-border-radius: 5px;}
.borRadius15{border-radius: 15px;-webkit-border-radius: 15px;-moz-border-radius: 15px;-o-border-radius: 15px;}
.borRadius50{border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;-o-border-radius: 50%;}
/*弹框提示*/
.mark{background-color: #000;width: 100%;height: 100%;left:0;top:0;filter:alpha(opacity=50);opacity:0.5;z-index:11;position:fixed!important;position:absolute;}
.close {height: 19px;width: 19px;margin-top: 10px;background-position: 0 -194px;}
@media (min-width: 320px) and (max-width: 360px) {
  html,
  .wrap,
  body,
  input,
  h1,
  h2,
  h3,
  h4,
  select,
  textarea {
    font-size: 14px;
  }
  .projectInfo section dl{width: 3.8rem;}
}
@media (min-width: 360px) and (max-width: 480px) {
  html,
  .wrap,
  body,
  input,
  h1,
  h2,
  h3,
  h4,
  select,
  textarea {
    font-size: 16px;

  }

}
@media (min-width: 480px) and (max-width: 640px) {
  html,
  .wrap,
  body,
  input,
  h1,
  h2,
  h3,
  h4,
  select,
  textarea {
    font-size: 18px;

  }
}
@media (min-width: 380px) and (max-width: 420px) {
  html,
  .wrap,
  body,
  input,
  h1,
  h2,
  h3,
  h4,
  select,
  textarea {
    font-size: 18px;

  }
}







