$color: #f5f5f5;
//$color: #aaaaaa;

.detail-list {
  min-height: calc(100vh - 120px);
  margin: 0 auto;
  background: #fff;
  padding: 30px 0;
  border-radius: 5px;
  border-top: 2px solid #43b9e2;

  ul {
    width: 90%;
    margin: 0 auto 20px;
    border: 1px solid $color;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
      width: 35%;
      list-style: none;
      line-height: 30px;
      border-bottom: 1px solid $color;
      border-right: 1px solid $color;
      display: inline-block;
      text-align: center;
      padding-left: 10px;
      font-size: 14px;

      &:nth-child(odd) {
        width: 15%;
      }

      &:nth-child(4n) {
        border-right: 0;
      }
    }

    .bottom-0 {
      border-bottom: 0;
    }
  }
}


