.search, .content {
  background: #fff;
  border-radius: 5px;
}


.search {

  :global {

    .el-form {
      margin: 15px 20px 54px;
    }

    .el-form-item {
      width: 32%;
      margin-bottom: 15px;

      .el-form-item {
        margin-bottom: 0;
      }

    }

    .el-input {
      width: 100%;
    }

  }


  .search-btn-box {
    text-align: center;

    :global {
      .el-button {
        margin: 0 25px;
      }
    }

  }

}

.content {
  margin-top: 20px;

  .table-content {
    width: 98%;
    margin: 19px auto 0;
    padding-bottom: 20px;
  }

  :global {
    /*给配置按钮定位*/
    .el-button--mini {
      margin-left: 10px;
      position: absolute !important;
      top: 4px;
    }
    /*给配置按钮定位*/
    .el-button--mini.back-btn {
      margin-left: 100px;
      position: absolute !important;
      top: 4px;
    }
  }
}

:global {
  .channel,.cash-output,.cash-provider,.product,.split-rules,.output-detail {

    /*操作的宽度太高*/
    .operate {
      padding: 6px 0;
    }

    /*修改标题默认字体*/
    .header-cell-class-name {
      background: #f4f4f5;
    }

    // 取消校验成功绿色样式
    .is-success .el-input__inner {
      border-color: #DCDFE6 !important;
    }

    // 修改校验成功获取焦点的颜色
    .is-success .el-input__inner:focus {
      border-color: #409EFF !important;
    }
  }
}
